/* ===================== */
/* VIEWPOINT */
/* ===================== */
@media only screen and (max-width: 1500px) {


    .top-mes {
        font-size: 1rem;
    }

    .img-logo {
        scale: 0.7;
        transform: translate(5px, 40px);
    }

    .header-part-3 {
        background-color: #fff;
    }

    .main {
        width: 100%;
        background-color: white;
        border-radius: 16px 16px 0 0;
        color: black;
        height: auto;
        text-align: center;
        position: relative;
    }

    .mini-pic {
        width: 100vw;
    }
}




@media only screen and (max-width: 992px) {
    .top-mes {
        font-size: 12px;
        scale: 1;
        margin-left: 0;
        width: 100%;
        transition: all 0.25s ease;
    }

    .top-nav-right {
        display: none
    }

    .nav-middle-logo img {
        width: 90px;
        height: 90px;
        transition: all 0.25s ease;
    }

    .mini-pic {
        width: 100vw;
    }

    .teamlist-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* .title-first-team {
        font-size: 3px;
        line-height: 20px;
        padding: 0 10px 0 0;
        margin-top: 0;
    } */

    .title-first-team h1 {
        font-size: 35px;
    }

    .teamperson-container {
        width: auto;
        height: auto;
    }

    .img {
        width: 19rem;
        height: 19rem;
    }

    .box-person-img {
        width: 19rem;
        height: 19rem;
        transition: all 0.25s ease;
    }

    .header-part-3 {
        display: none;
    }

    .nav-middle-menu {
        display: none;
    }

    .header-part-3-mobile {
        visibility: visible;
        transform: translateY(-25px);
        transition: all 0.25s ease;
    }


}

@media only screen and (max-width: 861px) {
    .footer-cor-links-bottom {
        flex-direction: column;
    }

    .footer-cor-links-group {
        flex-direction: column;
    }

    .footer-cor-link-item::after {
        display: none;
    }

    .nav-mobile {
        display: flex !important;
    }
}

@media only screen and (max-width: 740px) {
    .hero-heading {
        font-size: 28px;
    }
}

@media only screen and (max-width: 551px) {
    .sub-nav-item {
        font-size: 10px;
    }
}